/*-----------
    VARS
-------------*/

:root {
  --color: #fff;
  --primary-color: #f44336;
  --bg-color: #fff;
  --surface-dp1-color: #fff;
  --surface-dp2-color: #fff;
  --surface-dp3-color: #fff;
  --font-high-color: rgba(0, 0, 0, 0.87);
  --font-medium-color: rgba(0, 0, 0, 0.6);
  --font-disabled-color: rgba(0, 0, 0, 0.38);
  --border-color: #4f4f4f;
  --disabled-color: rgba(0, 0, 0, 0.42);
  --hover-color: rgba(0, 0, 0, 0.6);
  --error-color: #b00020;
}

[data-theme="dark"] {
  --color: #000;
  --primary-color: #ef9a9a;
  --bg-color: #121212;
  --surface-dp1-color: #1d1d1d;
  --surface-dp2-color: #212121;
  --surface-dp3-color: #242424;
  --font-high-color: rgba(255, 255, 255, 0.87);
  --font-medium-color: rgba(255, 255, 255, 0.6);
  --font-disabled-color: rgba(255, 255, 255, 0.38);
  --border-color: #f4f4f4;
  --error-color: #cf6679;
}

/*-----------
    RESET
-------------*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition-delay: 9999s;
  transition-delay: 9999s;
}

/*-----------
    TIPOGRAPHY
-------------*/

.title1 {
  color: var(--font-high-color);
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2;
  padding-bottom: 1rem;
  margin-top: 1rem;
}

.text-body {
  font-size: 1rem;
  letter-spacing: 0.5px;
  font-weight: normal;
  margin-bottom: 1.5rem;
  color: var(--font-medium-color);
}

.text-error {
  font-size: 0.875rem;
  color: var(--error-color);
  margin-bottom: 1rem;
}

.text-logo {
  font-size: 1.5rem;
  line-height: 1.5rem;
}

/*
* BASE
*/

.link {
  cursor: pointer;
  height: 24px;
}
.link.active {
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}
